<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<!--
		Purpose: This include file shows how to specify which page on your site is responsible for handling 404 conditions.
		-->
		<sites>
			<site name="examplesite">
				<patch:attribute name="notFoundPageID">{2ED83785-2612-49EA-BD36-7A8A077129A5}</patch:attribute>
			</site>
		</sites>
	</sitecore>
</configuration>
