<div class="container">
	<hr/>
	<div class="row">
		<div class="col-sm">@Html.Sitecore().Placeholder("FooterLeft")</div>
		<div class="col-sm">@Html.Sitecore().Placeholder("FooterCenter")</div>
		<div class="col-sm">@Html.Sitecore().Placeholder("FooterRight")</div>
	</div>
</div>

