@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Constellation.Feature.Navigation.Models.NavigationMenu>
<h5>@Model.DisplayName</h5>
<ul class="nav flex-column">
	@foreach (var link in Model.ChildLinks)
	{
		<li class="nav-item">
			<a class="nav-link" href="@link.Link">@link.GetBestLinkText()</a>
		</li>
	}
</ul>
